body {
    margin: 0;
    height: 100vh;
    animation: strobe 0.2s infinite alternate;
}

@keyframes strobe {
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
    }
}

h1 {
    color: red;
}

h2 {
    color: blue;
}